.error404 {
	text-align: center;
}

.error404-title {
	margin-top: 120px;
	font-weight: 700;
	font-size: 96px;
	line-height: 142.6%;
	color: #ff6060;
}

.error404-subtitle {
	margin-top: 10px;
	font-weight: 500;
	font-size: 18px;
	line-height: 142.6%;
	color: #ff6060;
	margin: 0 auto;
}

.error404-subtitle-br {
}

.error404-link {
	display: block;
	margin-top: 100px;
	margin-bottom: 100px;
	font-weight: 500;
	font-size: 14px;
	line-height: 142.6%;
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
	color: #ff6060;
}
